.facts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 121px;

  @include tablet {
    margin-top: 80px;
  }

  @include mobile {
    margin-top: 65px;
  }

  &__list {
    display: flex;
    column-gap: 68px;
    @include mobile-s {
      flex-direction: column;
      row-gap: 24px;
    }

    @include mobile {
      column-gap: 18px;
    }

    @include mobile-above {
      column-gap: 30px;
    }

    @include tablet-above {
      column-gap: 35px;
    }

    @include desktop-above {
      column-gap: 68px;
    }
  }

  &__item {
    display: flex;
    height: 140px;
    max-width: 324px;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 18px;
  }

  &__title {
    font-size: 46px;

    @include tablet {
      font-size: 38px;
    }
  }

  &__description {
    font-size: 18px;
    opacity: 70%;
  }
}
