.section {
  background-color: var(--color-light);
  padding-block: var(--section-padding-y);
  width: 100%;

  &--gray {
    position: relative;
    background-color: #f4f7fa;
    padding-top: 110px;
    margin-top: 110px;
    z-index: 1;

    @include tablet{
    margin-top: 70px;
    }

    // header decoration "resources"
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 112px;
      left: 0;
      top: 170px;
      background: url(../images/resource/decoration-points.svg) no-repeat;
    }
  }

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 117px;
    margin-bottom: 90px;

    &--left {
      align-items: flex-start;
      max-width: 515px;
      width: 100%;
      text-align: left;
    }

    @include tablet-above {
      margin-top: 90px;
      margin-bottom: 80px;
    }

    @include tablet {
      margin-top: 24px;
      margin-bottom: 70px;
    }
  }
  &__title {
    text-transform: uppercase;
    color: var(--color-red);
    font-size: 16px;
  }

  &__description {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: inherit;

    &--left {
      text-align: left;
    }
  }
}
