.works {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 72px;

    @include tablet {
      column-gap: 24px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-card {
    @include mobile {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    @include mobile-s {
      margin-bottom: 50px;
    }

    &__column {
      display: flex;
      flex-direction: column;
      row-gap: 60px;

      @include tablet {
        row-gap: 40px;
      }

      @include mobile {
        row-gap: 0;
      }
    }
    &__body {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 34px;
      row-gap: 14px;

      @include tablet {
        row-gap: 8px;
      }

      @include mobile {
        margin-top: 20px;
        text-align: center;
      }

      &-job {
        opacity: 70%;
      }
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    margin-top: 95px;

    @include tablet {
      margin-top: 68px;
    }

    @include mobile-s {
      margin-top: 30px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-blue);
    width: 155px;
    height: 30px;

    @include hover {
      transform: translateX(10px);
      transition-duration: var(--transition-duration);
    }
  }
}
