:root {
  --color-dark: #161c2d;
  --color-blue: #473bf0;
  --color-red: #f64b4b;
  --color-green: #68d585;
  --color-light: #fff;
  --color-gray: #E7E9ED;

  --border-radius-small: 8px;
  --border-radius-medium: 10px;
  --border-radius-large: 15px;

  --button-height: 59px;

  --container-width: 1110px;
  --container-padding-x: 20px;

  --font-family-base: "Rubik", sans-serif;

  --section-padding-y: 62px;

  --transition-duration: 0.2s;
}
